.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: darkgreen;
    font-weight: bolder;
}

.galleryImage {
    width: 20%;
    height: auto;
    border: 5px solid whitesmoke;
    border-radius: 25px;
    margin: 10px;
}

.vonalam{
    width: 60px;
    margin-top: 0px;
}

.kiiras{
    font-size: 18px;
    margin-top: 2px;
    margin-left: 10px;
    text-align: center;
}

p{
    margin: 0 0 -22px 0;
}

.nevek{
    font-size: 16px;
}