<div>

    <div id="udv"><h1>Üdvözlöm nálunk!</h1></div>
    <div id="nyitvatartas">
        <h2><b>Nyitvatartás:</b></h2> <br/>
        Hétfő: 10:00 - 13:00 és 15:00 - 20:00 <br/>
        Kedd: 10:00 - 13:00 és 15:00 - 20:00 <br/>
        Szerda: 10:00 - 13:00 és 15:00 - 20:00 <br/>
        Csütörtök: 10:00 - 14:00 és 15:00 - 19:00 <br/>
        Péntek: 10:00 - 14:00 és 15:00 - 19:00 <br/>
        Szombat: 14:00 - 19:00 <br/>
        Vasárnap: ZÁRVA <br/>
    </div>
    <div id="elerhetoseg">
        <h2><b>Elérhetőségeim:</b></h2> <br/>
        Cím: Szeged, Démon utca 8/b <br/>
        Telefonszám: 06 20 245 8264 <br/>
        E-mail: kormosrozi@gmail.com <br/>
    </div>

</div>
