<div id="kisebb">

    <div id="udv" class="szovegdekoralas"><h1>Üdvözlöm nálunk!</h1></div>
    <div id="nyitvatartas">
        <h2 class="szovegdekoralas"><b>Nyitvatartás:</b></h2> <br/>
        <b>Hétfő:</b> 10:00 - 13:00 és 15:00 - 20:00 <br/>
        <b>Kedd: </b>10:00 - 13:00 és 15:00 - 20:00 <br/>
        <b>Szerda: </b>10:00 - 13:00 és 15:00 - 20:00 <br/>
        <b>Csütörtök: </b>10:00 - 14:00 és 15:00 - 19:00 <br/>
        <b>Péntek: </b>10:00 - 14:00 és 15:00 - 19:00 <br/>
        <b>Szombat: </b>14:00 - 19:00 <br/>
        <b>Vasárnap: </b>ZÁRVA <br/>
    </div>
    <div id="elerhetoseg">
        <h2 class="szovegdekoralas"><b>Elérhetőségeim:</b></h2> <br/>
        <b>Cím:</b> Szeged, Démon utca 8/b <br/>
        <b>Telefonszám:</b> 06 20 245 8264 <br/>
        <b>E-mail:</b> kormosrozi@gmail.com <br/>
    </div>

</div>
